<div class="panel panel-primary">
	<div class="panel-heading">
		<form action="delete-meal" method="post" class="pull-right">
			<input type="hidden" id="mealId" name="mealId" value="<%= meal.id %>">
			<button type="submit" style="background: none;border: none;padding: 0;"><span class="glyphicon glyphicon-trash"></span></button>
		</form>
		<h3 class="panel-title"><%= meal.name %></h3>
	</div>
	<div class="panel-body">
		<a href="meal?mealId=<%= meal.id %>"><i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
		<p><%= meal.description %></p>		
	</div>
</div>