<div class="panel panel-primary">
	<div class="panel-heading">
		<span><i class="glyphicon glyphicon-trash pull-right"></i></span>
		<h3 class="panel-title"><%= meal.name %></h3>
	</div>
	<div class="panel-body">
		<a href="meal?mealId=<%= meal.id %>"><i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
		<p><%= meal.description %></p>		
	</div>
</div>